﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>A Full Stack monitor to help you keep track of all your equipments.<br />
    Please login to continue</h5><br /><br /><br />
    <h4>Steps to using the application: </h4><br />
    <h6>1. Login or Register as a new user</br>
    2. Head over to the 'All equipments' page</br>
    3. View, Search, Create, Edit or Delete equipments as per your needs</br>
    4. Log out when done to keep your entries safe</h6>
</div>

