﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All names and data belong to Aayush Srivastava. Designed as an assignment for the post of<br />
    Full Stack Developer intern for EdgeNeural.ai.</p>
